@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
header, body, footer {
  margin: 0;
  padding: 0; }

body {
  font-size: 1rem;
  line-height: 2;
  font-family: 'Noto Sans TC', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.50rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.12rem; }

h6 {
  font-size: 1rem; }

div {
  display: block; }

.container {
  margin: 0 auto;
  padding: 0; }

.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0; }

.v-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0; }

.block {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0; }

.size-1 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1%;
  flex: 0 1%;
  width: 1%; }

.v-size-1 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1%;
  flex: 0 1%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 1%;
  width: 100%; }

.size-2 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 2%;
  flex: 0 2%;
  width: 2%; }

.v-size-2 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 2%;
  flex: 0 2%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 2%;
  width: 100%; }

.size-3 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 3%;
  flex: 0 3%;
  width: 3%; }

.v-size-3 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 3%;
  flex: 0 3%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 3%;
  width: 100%; }

.size-4 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 4%;
  flex: 0 4%;
  width: 4%; }

.v-size-4 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 4%;
  flex: 0 4%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 4%;
  width: 100%; }

.size-5 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 5%;
  flex: 0 5%;
  width: 5%; }

.v-size-5 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 5%;
  flex: 0 5%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 5%;
  width: 100%; }

.size-6 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 6%;
  flex: 0 6%;
  width: 6%; }

.v-size-6 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 6%;
  flex: 0 6%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 6%;
  width: 100%; }

.size-7 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 7%;
  flex: 0 7%;
  width: 7%; }

.v-size-7 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 7%;
  flex: 0 7%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 7%;
  width: 100%; }

.size-8 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 8%;
  flex: 0 8%;
  width: 8%; }

.v-size-8 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 8%;
  flex: 0 8%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 8%;
  width: 100%; }

.size-9 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 9%;
  flex: 0 9%;
  width: 9%; }

.v-size-9 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 9%;
  flex: 0 9%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 9%;
  width: 100%; }

.size-10 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 10%;
  flex: 0 10%;
  width: 10%; }

.v-size-10 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 10%;
  flex: 0 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 10%;
  width: 100%; }

.size-11 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 11%;
  flex: 0 11%;
  width: 11%; }

.v-size-11 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 11%;
  flex: 0 11%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 11%;
  width: 100%; }

.size-12 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 12%;
  flex: 0 12%;
  width: 12%; }

.v-size-12 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 12%;
  flex: 0 12%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 12%;
  width: 100%; }

.size-13 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 13%;
  flex: 0 13%;
  width: 13%; }

.v-size-13 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 13%;
  flex: 0 13%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 13%;
  width: 100%; }

.size-14 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 14%;
  flex: 0 14%;
  width: 14%; }

.v-size-14 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 14%;
  flex: 0 14%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 14%;
  width: 100%; }

.size-15 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 15%;
  flex: 0 15%;
  width: 15%; }

.v-size-15 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 15%;
  flex: 0 15%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 15%;
  width: 100%; }

.size-16 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 16%;
  flex: 0 16%;
  width: 16%; }

.v-size-16 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 16%;
  flex: 0 16%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 16%;
  width: 100%; }

.size-17 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 17%;
  flex: 0 17%;
  width: 17%; }

.v-size-17 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 17%;
  flex: 0 17%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 17%;
  width: 100%; }

.size-18 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 18%;
  flex: 0 18%;
  width: 18%; }

.v-size-18 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 18%;
  flex: 0 18%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 18%;
  width: 100%; }

.size-19 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 19%;
  flex: 0 19%;
  width: 19%; }

.v-size-19 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 19%;
  flex: 0 19%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 19%;
  width: 100%; }

.size-20 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 20%;
  flex: 0 20%;
  width: 20%; }

.v-size-20 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 20%;
  flex: 0 20%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 20%;
  width: 100%; }

.size-21 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 21%;
  flex: 0 21%;
  width: 21%; }

.v-size-21 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 21%;
  flex: 0 21%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 21%;
  width: 100%; }

.size-22 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 22%;
  flex: 0 22%;
  width: 22%; }

.v-size-22 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 22%;
  flex: 0 22%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 22%;
  width: 100%; }

.size-23 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 23%;
  flex: 0 23%;
  width: 23%; }

.v-size-23 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 23%;
  flex: 0 23%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 23%;
  width: 100%; }

.size-24 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 24%;
  flex: 0 24%;
  width: 24%; }

.v-size-24 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 24%;
  flex: 0 24%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 24%;
  width: 100%; }

.size-25 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 25%;
  flex: 0 25%;
  width: 25%; }

.v-size-25 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 25%;
  flex: 0 25%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 25%;
  width: 100%; }

.size-26 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 26%;
  flex: 0 26%;
  width: 26%; }

.v-size-26 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 26%;
  flex: 0 26%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 26%;
  width: 100%; }

.size-27 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 27%;
  flex: 0 27%;
  width: 27%; }

.v-size-27 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 27%;
  flex: 0 27%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 27%;
  width: 100%; }

.size-28 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 28%;
  flex: 0 28%;
  width: 28%; }

.v-size-28 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 28%;
  flex: 0 28%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 28%;
  width: 100%; }

.size-29 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 29%;
  flex: 0 29%;
  width: 29%; }

.v-size-29 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 29%;
  flex: 0 29%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 29%;
  width: 100%; }

.size-30 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 30%;
  flex: 0 30%;
  width: 30%; }

.v-size-30 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 30%;
  flex: 0 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 30%;
  width: 100%; }

.size-31 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 31%;
  flex: 0 31%;
  width: 31%; }

.v-size-31 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 31%;
  flex: 0 31%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 31%;
  width: 100%; }

.size-32 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 32%;
  flex: 0 32%;
  width: 32%; }

.v-size-32 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 32%;
  flex: 0 32%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 32%;
  width: 100%; }

.size-33 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 33%;
  flex: 0 33%;
  width: 33%; }

.v-size-33 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 33%;
  flex: 0 33%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 33%;
  width: 100%; }

.size-34 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 34%;
  flex: 0 34%;
  width: 34%; }

.v-size-34 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 34%;
  flex: 0 34%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 34%;
  width: 100%; }

.size-35 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 35%;
  flex: 0 35%;
  width: 35%; }

.v-size-35 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 35%;
  flex: 0 35%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 35%;
  width: 100%; }

.size-36 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 36%;
  flex: 0 36%;
  width: 36%; }

.v-size-36 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 36%;
  flex: 0 36%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 36%;
  width: 100%; }

.size-37 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 37%;
  flex: 0 37%;
  width: 37%; }

.v-size-37 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 37%;
  flex: 0 37%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 37%;
  width: 100%; }

.size-38 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 38%;
  flex: 0 38%;
  width: 38%; }

.v-size-38 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 38%;
  flex: 0 38%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 38%;
  width: 100%; }

.size-39 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 39%;
  flex: 0 39%;
  width: 39%; }

.v-size-39 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 39%;
  flex: 0 39%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 39%;
  width: 100%; }

.size-40 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 40%;
  flex: 0 40%;
  width: 40%; }

.v-size-40 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 40%;
  flex: 0 40%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 40%;
  width: 100%; }

.size-41 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 41%;
  flex: 0 41%;
  width: 41%; }

.v-size-41 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 41%;
  flex: 0 41%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 41%;
  width: 100%; }

.size-42 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 42%;
  flex: 0 42%;
  width: 42%; }

.v-size-42 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 42%;
  flex: 0 42%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 42%;
  width: 100%; }

.size-43 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 43%;
  flex: 0 43%;
  width: 43%; }

.v-size-43 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 43%;
  flex: 0 43%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 43%;
  width: 100%; }

.size-44 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 44%;
  flex: 0 44%;
  width: 44%; }

.v-size-44 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 44%;
  flex: 0 44%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 44%;
  width: 100%; }

.size-45 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 45%;
  flex: 0 45%;
  width: 45%; }

.v-size-45 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 45%;
  flex: 0 45%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 45%;
  width: 100%; }

.size-46 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 46%;
  flex: 0 46%;
  width: 46%; }

.v-size-46 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 46%;
  flex: 0 46%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 46%;
  width: 100%; }

.size-47 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 47%;
  flex: 0 47%;
  width: 47%; }

.v-size-47 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 47%;
  flex: 0 47%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 47%;
  width: 100%; }

.size-48 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 48%;
  flex: 0 48%;
  width: 48%; }

.v-size-48 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 48%;
  flex: 0 48%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 48%;
  width: 100%; }

.size-49 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 49%;
  flex: 0 49%;
  width: 49%; }

.v-size-49 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 49%;
  flex: 0 49%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 49%;
  width: 100%; }

.size-50 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 50%;
  flex: 0 50%;
  width: 50%; }

.v-size-50 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 50%;
  flex: 0 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50%;
  width: 100%; }

.size-51 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 51%;
  flex: 0 51%;
  width: 51%; }

.v-size-51 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 51%;
  flex: 0 51%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 51%;
  width: 100%; }

.size-52 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 52%;
  flex: 0 52%;
  width: 52%; }

.v-size-52 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 52%;
  flex: 0 52%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 52%;
  width: 100%; }

.size-53 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 53%;
  flex: 0 53%;
  width: 53%; }

.v-size-53 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 53%;
  flex: 0 53%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 53%;
  width: 100%; }

.size-54 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 54%;
  flex: 0 54%;
  width: 54%; }

.v-size-54 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 54%;
  flex: 0 54%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 54%;
  width: 100%; }

.size-55 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 55%;
  flex: 0 55%;
  width: 55%; }

.v-size-55 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 55%;
  flex: 0 55%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 55%;
  width: 100%; }

.size-56 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 56%;
  flex: 0 56%;
  width: 56%; }

.v-size-56 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 56%;
  flex: 0 56%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 56%;
  width: 100%; }

.size-57 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 57%;
  flex: 0 57%;
  width: 57%; }

.v-size-57 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 57%;
  flex: 0 57%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 57%;
  width: 100%; }

.size-58 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 58%;
  flex: 0 58%;
  width: 58%; }

.v-size-58 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 58%;
  flex: 0 58%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 58%;
  width: 100%; }

.size-59 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 59%;
  flex: 0 59%;
  width: 59%; }

.v-size-59 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 59%;
  flex: 0 59%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 59%;
  width: 100%; }

.size-60 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 60%;
  flex: 0 60%;
  width: 60%; }

.v-size-60 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 60%;
  flex: 0 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 60%;
  width: 100%; }

.size-61 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 61%;
  flex: 0 61%;
  width: 61%; }

.v-size-61 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 61%;
  flex: 0 61%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 61%;
  width: 100%; }

.size-62 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 62%;
  flex: 0 62%;
  width: 62%; }

.v-size-62 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 62%;
  flex: 0 62%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 62%;
  width: 100%; }

.size-63 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 63%;
  flex: 0 63%;
  width: 63%; }

.v-size-63 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 63%;
  flex: 0 63%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 63%;
  width: 100%; }

.size-64 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 64%;
  flex: 0 64%;
  width: 64%; }

.v-size-64 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 64%;
  flex: 0 64%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 64%;
  width: 100%; }

.size-65 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 65%;
  flex: 0 65%;
  width: 65%; }

.v-size-65 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 65%;
  flex: 0 65%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 65%;
  width: 100%; }

.size-66 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 66%;
  flex: 0 66%;
  width: 66%; }

.v-size-66 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 66%;
  flex: 0 66%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 66%;
  width: 100%; }

.size-67 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 67%;
  flex: 0 67%;
  width: 67%; }

.v-size-67 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 67%;
  flex: 0 67%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 67%;
  width: 100%; }

.size-68 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 68%;
  flex: 0 68%;
  width: 68%; }

.v-size-68 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 68%;
  flex: 0 68%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 68%;
  width: 100%; }

.size-69 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 69%;
  flex: 0 69%;
  width: 69%; }

.v-size-69 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 69%;
  flex: 0 69%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 69%;
  width: 100%; }

.size-70 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 70%;
  flex: 0 70%;
  width: 70%; }

.v-size-70 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 70%;
  flex: 0 70%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 70%;
  width: 100%; }

.size-71 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 71%;
  flex: 0 71%;
  width: 71%; }

.v-size-71 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 71%;
  flex: 0 71%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 71%;
  width: 100%; }

.size-72 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 72%;
  flex: 0 72%;
  width: 72%; }

.v-size-72 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 72%;
  flex: 0 72%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 72%;
  width: 100%; }

.size-73 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 73%;
  flex: 0 73%;
  width: 73%; }

.v-size-73 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 73%;
  flex: 0 73%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 73%;
  width: 100%; }

.size-74 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 74%;
  flex: 0 74%;
  width: 74%; }

.v-size-74 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 74%;
  flex: 0 74%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 74%;
  width: 100%; }

.size-75 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 75%;
  flex: 0 75%;
  width: 75%; }

.v-size-75 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 75%;
  flex: 0 75%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 75%;
  width: 100%; }

.size-76 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 76%;
  flex: 0 76%;
  width: 76%; }

.v-size-76 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 76%;
  flex: 0 76%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 76%;
  width: 100%; }

.size-77 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 77%;
  flex: 0 77%;
  width: 77%; }

.v-size-77 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 77%;
  flex: 0 77%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 77%;
  width: 100%; }

.size-78 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 78%;
  flex: 0 78%;
  width: 78%; }

.v-size-78 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 78%;
  flex: 0 78%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 78%;
  width: 100%; }

.size-79 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 79%;
  flex: 0 79%;
  width: 79%; }

.v-size-79 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 79%;
  flex: 0 79%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 79%;
  width: 100%; }

.size-80 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 80%;
  flex: 0 80%;
  width: 80%; }

.v-size-80 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 80%;
  flex: 0 80%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 80%;
  width: 100%; }

.size-81 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 81%;
  flex: 0 81%;
  width: 81%; }

.v-size-81 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 81%;
  flex: 0 81%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 81%;
  width: 100%; }

.size-82 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 82%;
  flex: 0 82%;
  width: 82%; }

.v-size-82 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 82%;
  flex: 0 82%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 82%;
  width: 100%; }

.size-83 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 83%;
  flex: 0 83%;
  width: 83%; }

.v-size-83 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 83%;
  flex: 0 83%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 83%;
  width: 100%; }

.size-84 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 84%;
  flex: 0 84%;
  width: 84%; }

.v-size-84 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 84%;
  flex: 0 84%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 84%;
  width: 100%; }

.size-85 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 85%;
  flex: 0 85%;
  width: 85%; }

.v-size-85 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 85%;
  flex: 0 85%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 85%;
  width: 100%; }

.size-86 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 86%;
  flex: 0 86%;
  width: 86%; }

.v-size-86 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 86%;
  flex: 0 86%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 86%;
  width: 100%; }

.size-87 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 87%;
  flex: 0 87%;
  width: 87%; }

.v-size-87 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 87%;
  flex: 0 87%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 87%;
  width: 100%; }

.size-88 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 88%;
  flex: 0 88%;
  width: 88%; }

.v-size-88 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 88%;
  flex: 0 88%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 88%;
  width: 100%; }

.size-89 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 89%;
  flex: 0 89%;
  width: 89%; }

.v-size-89 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 89%;
  flex: 0 89%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 89%;
  width: 100%; }

.size-90 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 90%;
  flex: 0 90%;
  width: 90%; }

.v-size-90 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 90%;
  flex: 0 90%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 90%;
  width: 100%; }

.size-91 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 91%;
  flex: 0 91%;
  width: 91%; }

.v-size-91 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 91%;
  flex: 0 91%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 91%;
  width: 100%; }

.size-92 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 92%;
  flex: 0 92%;
  width: 92%; }

.v-size-92 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 92%;
  flex: 0 92%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 92%;
  width: 100%; }

.size-93 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 93%;
  flex: 0 93%;
  width: 93%; }

.v-size-93 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 93%;
  flex: 0 93%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 93%;
  width: 100%; }

.size-94 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 94%;
  flex: 0 94%;
  width: 94%; }

.v-size-94 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 94%;
  flex: 0 94%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 94%;
  width: 100%; }

.size-95 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 95%;
  flex: 0 95%;
  width: 95%; }

.v-size-95 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 95%;
  flex: 0 95%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 95%;
  width: 100%; }

.size-96 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 96%;
  flex: 0 96%;
  width: 96%; }

.v-size-96 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 96%;
  flex: 0 96%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 96%;
  width: 100%; }

.size-97 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 97%;
  flex: 0 97%;
  width: 97%; }

.v-size-97 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 97%;
  flex: 0 97%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 97%;
  width: 100%; }

.size-98 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 98%;
  flex: 0 98%;
  width: 98%; }

.v-size-98 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 98%;
  flex: 0 98%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 98%;
  width: 100%; }

.size-99 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 99%;
  flex: 0 99%;
  width: 99%; }

.v-size-99 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 99%;
  flex: 0 99%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 99%;
  width: 100%; }

.size-100 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 100%;
  flex: 0 100%;
  width: 100%; }

.v-size-100 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 100%;
  flex: 0 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.content {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem; }
