/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

header, body, footer {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Noto Sans TC', sans-serif;
}

@mixin flex-setting($values) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: $values;
    flex-flow: $values;
}
@mixin box-flex($values) {
    -webkit-box-flex: $values;
    box-flex: $values;
}
@mixin flex($values) {
    -webkit-flex: $values;
    flex: $values;
}
.container {
    margin: 0 auto;
    padding: 0;
}
.grid {
    @include flex-setting(row wrap);
    list-style: none;
    margin: 0;
    padding: 0;
}
.v-grid {
    @include flex-setting(column wrap);
    list-style: none;
    margin: 0;
    padding: 0;
}
.block {
    @include box-flex(1);
    @include flex(1);
    min-width: 0;
    min-height: 0;
}
@for $i from 1 through 100 {
    .size-#{$i}{
        @include box-flex(0);
        @include flex(0 1%*$i);
        width: 1%*$i;
    }
    .v-size-#{$i}{
        @include box-flex(0);
        @include flex(0 1%*$i);
        height: 1%*$i;
    }
}
